/* HEADER */
.header__pokemon{
    display: flex;
    justify-content: space-around;
    background-color: red;
    box-shadow: 0px 4px 4px rgba(255, 5, 5, 0.16);
}


.header__pokemon__logo{
    width: 200px;
    display: flex;
    padding: 10px 0;
}

.header__pokemon__pokebola{
    width: 75px;
    height: 75px;
    padding: 10px 0;

}



/* ==================================== */

main{
    padding: 2em 0;
}

.pokedex{
    padding: 10em 4em 4em ;
    display: flex;
    justify-content: center;

}




.pokedex__left__partedeCima{
    display: grid;
    position: relative;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50% 50%;
    /* grid-template-rows: 100%; */
    border: 1px solid black;
    height: 25%;
    border-radius: 10px 10px 0 0;
    width: 114%;
    left: -0.5%;
    top: -25.5%;
    background: #ff0000;
    border-bottom: 2px;
}

.left__partedeCima__GrandeCirculo::before{
    content: "";
    display: block;
    position: relative;
    height: 70%;
    width: 70%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #0D87FF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left__partedeCima__GrandeCirculo{
    height: 70%;
    width: 55%;
    border: 2px solid black;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 1em 0 0 1em;
    grid-row: 1/ 3;
    grid-column: 1 / 3;
    margin: 7px 0 0 20px;
    box-shadow: inset 0px 0px 2px 1px black; 
}



.left__partedeCima__GrandeCirculo::after {
    content: "";
    display: block;
    position: absolute;
    height: 11%;
    width: 4%;
    background-color: #87ceeb;
    top: 27%;
    left: 11%;
    transform: rotate(-45deg);
    border-radius: 50px 30px;
}

.lista__pequenosCirculos{
    display: flex;
    transform: translateX(-20%);
}

.lista__pequenosCirculos li{
    margin-left: 10px;
}

.bolinha{
    padding: 8px;
    margin-top: 18px;
    width: 5%;
    border: 2px solid #000000;
    border-radius: 50%;
}

.b_vermelha{
    background-color: #ba4a00;
}

.b_amarela{
    background-color: #ffe600;
}

.b_verde{
    background-color: #51F57D;
}

.divisao__left{
    height: 75%;
    width: 94%;
    border: 3px solid black;
    grid-row: 2/ 2;
    grid-column: 2 /5;
    /* margin: 18% 0 0 38%; */
    position: relative;
    top: 23%;
    left: 18%;
    border-bottom: #ff0000;
    border-radius: 200px 0 0 0;
    background-color: #ff0000;
    
}

.divisao__right{
    height: 75%;
    width: 94%;
    border: 3px solid black;
    grid-row: 2/ 2;
    grid-column: 2 /5;
    /* margin: 18% 0 0 38%; */
    position: relative;
    top: 23%;
    left: 133%;
    border-bottom: #ff0000;
    border-radius: 0 200px 0 0;
    background-color: #ff0000;
}

.pokedex__left{
    height: 500px;
    width: 375px;
    background: #ff0000;
    border: 2px solid #000000;
}




/* =========================================== */

.pokedex__left__bordatela{
    height: 65%;
    width: 80%;
    background: #ffffff;
    border: 2px solid #000000;
    position: relative;
    top: -20%;
    left: 9%;
    box-shadow: inset 0px 0px 2px 1px black;
    border-radius: 5px 5px 5px 15%; 
}



.pokedex__left__tela{
    height: 64%;
    width: 83%;
    background: #000000;
    border: 1px solid #000000;
    position: relative;
    left: 9%;
    box-shadow: inset 0px 0px 7px 8px #74757480;
    border-radius: 10px;
}

.pokedex__left__bordatela__listsdots{
    height: 7%;
    width: 100%;
    justify-content: center;
    display: flex;
}

.pokedex__left__bordatela__listsdots li{
    height: 10px;
    width: 12px;
    background-color: #ff0000;
    border-radius: 50%;
    border: 2px solid #000000;
    margin: 5px 0 0 5px;
}


/* BOTÃO VERMELHO E ENTRADAS DE AR */

.pokedex__left__status{
    height: 14%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    margin-top: 20px;
    position: relative

}

.pokedex__left__status__bolinhaVermelha{
    height: 75%;
    width: 13%;
    border: 2px solid #000000;
    background-color: #ff0000;
    border-radius: 50%;
}


.pokedex__left__status__bolinhaVermelha::after{
    content: "";
    display: block;
    position: relative;
    height: 25%;
    width: 28%;
    background-color: #ffabd4;
    border-radius: 40px / 30px;
    top: 20%;
    left: 20%; 
    transform: rotate(-45deg);
}

.pokedex__left__status__som li{
    height: 1px;
    width: 40px;
    border: 2px solid #000000;
    background-color: #000000;
    margin: 5px;
    border-radius: 20px;
}


.pokedex__left__botoes{
    position: relative;
    top: 13%;
    height: 30%;
    display: flex;
}

.pokedex__left__botoes__btnBlack{
    width: 20%;
    height: 50%;
    background-color: #000000;
    border-radius: 50%;
    border: 2px solid black;
}

.pokedex__left__botoes__luzes ul{
    display: flex;

}

.pokedex__left__botoes__luzes li{
    height: 8px;
    width: 60px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}

#luzLaranja{
    background-color: #ba4a00;
}

#luzAzul{
    background-color: #87ceeb;
}

.pokedex__left__botoes__pt2{
    height: 60px;
    margin-top: 10px;
    display: flex; 
}

.pokedex__left__botoes__telaVerde{
    height: 70%;
    width: 70%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #21903f;
}

.pokedex__left__botoes__buttonDirections{
    height: 30%;
    width: 30%;
    border: 2px solid #000000;
    background-color: #000000 ;
    border-radius: 5px;
    position: relative;
    margin-left: 5%;
 
}


.pokedex__left__botoes__buttonDirections::before{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background-color: #000000;
    border-radius: 5px;
    transform: rotate(90deg);
    left: -2%;
    top: -10%;
 
    
}

.pokedex__left__botoes__buttonDirections::after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: #000000;
    border-radius: 5px;
    left: 0;
    top: 0;
}


/* ============================================= */


.pokedex__middle::before{
    content: "";
    position: relative;
    display: block;
    height: 9%;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    left: -2.5%;
    top: -10%;
    box-shadow:  inset 15px 0px 1px #07070738;
}

.pokedex__middle{
    height: 500px;
    width: 45px;
    background: #ff0000;
    border: 2px solid #000000;
    box-shadow: inset 15px 0px 1px #07070738;
}


/* RIGHT PART */

.pokedex__right{
    height: 500px;
    width: 375px;
    background: #ff0000;
    border: 2px solid #000000;
}


.telainformacoes{
    position: relative;
    top: 8%;
    left: 4%;
    width: 90%;
    height: 50%;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    background-color: #000000;
    box-shadow: inset 0px 0px 7px 8px #74757480;
}

.botoesazuis{
    position: relative;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #0D87FF;
    height: 15%;
    width: 90%;
    left: 4%;
    top: 10%;
} 


