/* HEADER */
.header__pokemon{
    display: flex;
    justify-content: space-around;
    background-color: red;
    box-shadow: 0px 4px 4px rgba(255, 5, 5, 0.16);
}


.header__pokemon__logo{
    width: 200px;
    display: flex;
    padding: 10px 0;
}

.header__pokemon__pokebola{
    width: 70px;
    height: 100px;
    padding: 15px 0;

}

/* ==================================== */


.pesquisar{
    margin: 1em 0 0 2em;
}

.pesquisar input, .btnPesquisa{
    padding: 1em ;
}

.btnPesquisa{
    position: relative;
    left: -3%;
}


.pokemon{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 100%;
    margin: 1em 0 0;
}

.pokemon__blocoInfo_apresetacao{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 450px;
    border: solid 2px #000000;
    background-color: #D8CCC6;
    margin: 5em 0 0 0;
    border: none;
    border-radius: 10px 
    
}


/* INFORMAÇÕES POKÉMON: IMAGEM */

.pokemon_fotoenome{
    position: relative;
    top: -35%;
}

.container{
    display: flex;
    justify-content: center;
}

#pic{
    height: 250px;
}
/* INFOMAÇÕES DO POKEMON: NOME */

.info__nome{
    display: flex; 
    justify-content: center;
}

#nome{
    font-weight: bold;
    text-align: center;
}

/* ALL INFORMATIONS */

.all_informations__num{
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    justify-content: space-around;
    top: -30%;
}

.id{
    font-weight: bolder
}
