body{
    text-align: center;
}

#container{
    width: 200px;
    background-color: lightgray;
    border-radius:  5px;
    border: 2 solid black;
    box-shadow: 5px 5px 3px black;
    margin: 10% auto 10%;
    padding: 5px;
}